@media (max-width: 1300px){
  // Profile Page
  .profile{
    .profile-body{
      .user-info{

        .body{
          &> .d-flex{
            padding: 2rem 4rem !important;
          }

          .movie-card-padding{
            width: 50% !important;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .movie-info {
    & > .d-flex {
      .details {
        & > .d-flex {
          flex-direction: column;
        }

        .movie-image {
          display: none;
        }
        .full-details {
          text-align: center;
          .double-lines {
            margin: auto !important;
          }
          .genre-list,
          .director {
            justify-content: center;
          }
        }
      }

      .reviews {
        .reviews-body {
          padding: 0 1rem !important;
        }
      }
    }
  }

  

}

@media (max-width: 992px) {

  header{
    .topbar {
      padding: 1rem 0 0.9rem 0;
    }

  }
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .topbar-flex-container {
    .left {
      display: none;
    }

    .middle {
      text-align: left !important;
      padding-left: 1.5rem;
    }

    #mo-logo{
      height: 60px;
    }
  }

  .movie-bg {
    .d-flex {
      margin: 0 -2.5rem;
    }
  }

  .movie-info {
    & > .d-flex {
      flex-direction: column;

      .details {
        & > .d-flex {
          flex-direction: row;
        }
        width: 100%;

        .movie-image {
          display: block;
        }

        .full-details {
          text-align: left;
          .double-lines {
            margin: 0 !important;
          }
          .genre-list,
          .director {
            justify-content: left;
          }
        }
      }

      .reviews {
        width: 100%;

        .reviews-body {
          padding: 0 2.5rem !important;
        }
      }
    }
  }

  .home{
    .container > .d-flex{
        .sidebar{
          margin: 0;
        }
      }
    }

  // Profile Page
  .profile{
    .profile-body{
      .user-info{

        .body{
          &> .d-flex{
            padding: 2rem 1rem !important;
          }

        }
      }
    }
  }
  
}

@media (max-width: 850px){
  .movies-content{
    .movie-card{
      width: 33.3%;
    }
  }

  .home{
    .container > .d-flex{
        flex-direction: column !important;
        .feed{
          width: 100%;
          order: 2;

          .post{
            margin: 1rem 0rem;
          }
        }

        .sidebar{
          width: 100%;
          margin: 0;

          .sort{
            .heading{
              display: none;

              
            }
            .filter-posts{
              display: flex;
              align-items: center;
              padding: 0.5rem;

              i{
                margin: 0 0.2rem;
              }
              .fa-sort-down{
                padding-bottom: 0.3rem;
                margin-left: auto;
              }

              cursor: pointer;
              @include easeOut-fast;
              &:hover{
                color: $primary-color;
              }
            }

            .content-relative{
              position: relative;
            }
            .filter{
              width: 100%;
              margin: 0;
              position: absolute;
              height: 0;
              opacity: 0;
              @include easeOut;

              
              li{
                display: none;
                background-color: rgba(255, 255, 255, 0.95);
            }

              &.show{
                height: auto;
                opacity: 1;
                li{
                  display: block;
                }
              }
            }

          }

          .suggested{
            .heading{
              margin-top: 0.2rem;
              padding: 0 1rem;
            }
            .suggestions {
              overflow: -moz-scrollbars-none;
            }
        
            .suggestions::-webkit-scrollbar {
              height: 0;
              width: 0;
            }
            .suggestions{
              display: flex;
              margin-top: 0.4rem;
              overflow: auto;
              -ms-overflow-style: none;
              scrollbar-width: none;
              overflow: -moz-scrollbars-none;
              padding: 1rem 0;
              .suggestion{
                flex-shrink: 0;
                flex-direction: column;
                border: 1px solid $light-blue;
                margin: 0 0.3rem;
                padding: 1rem;
                box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
                .avi{
                  width: 60px;
                  height: 60px;
                }

                .username{
                  padding: 0.5rem 0;
                }

                .follow{
                  margin: auto;
                }
              }
            }
          }

        }
    }
  }

  // Profile Page
  .profile{
    .profile-body{
      .user-info{

        .body{
          &> .d-flex{
            padding: 2rem 4rem !important;
          }

          .movie-card-padding{
            width: 100% !important;
          }
        }
      }
    }
  }
  
}

@media (max-width: 700px) {
  .container {
    width: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .menu-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-link {
      padding: 0.2rem !important;

      .nav-icon {
        font-size: 1.33rem;
      }
    }
    .nav-item {
      display: none;
    }
  }

  .topbar-flex-container {
    .middle {
      padding-left: 0.5rem;
    }

    .right {
      font-size: 0.9rem;
    }
  }

  header{

    .sticky {
      padding-top: 60px;
    }

    .menu{
      padding: 1rem 0;
    }
  }

  .fix-padding {
    padding-top: 65px !important;
  }

  .movie-bg {
    background-attachment: unset;
    .dark-overlay {
      padding: 0;
      .container {
        padding: 0;
      }
    }

    .d-flex {
      margin: 0;
      flex-direction: column;
      .movie-details {
        width: 100% !important;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: left !important;

        h2 {
          padding: 2rem 0 1rem 0 !important;
          margin-bottom: 0 !important;
          .grade-with-movie {
            display: inline !important;
          }
        }
        p {
          margin-top: 0 !important;
          padding-top: 0 !important;
          padding-bottom: 6rem;
        }

        h3 {
          padding-top: 1rem;
          padding-bottom: 4rem !important;
          display: none !important;
        }
      }

      .grade-movie {
        padding: 2rem 2rem;
        padding-bottom: 4rem !important;
        width: 100% !important;
        color: $dark-color;
        background-color: #fff;
        margin-top: -3rem;

        .grade-box {
          width: 100% !important;
          background-color: $dark-color !important;

          .width-animation {
            &.active {
              width: 100% !important;
            }
          }

          &:hover {
            .width-animation {
              width: 100% !important;
            }
          }
        }
      }
    }
  }

  .movie-bg {
    background-position: top;
  }

  .movie-info {
    padding-top: 0rem;
    & > .d-flex {
      .details {
        & > .d-flex {
          flex-direction: column;
        }

        .movie-image {
          text-align: center;
          height: 320px;
          img {
            height: 100%;
          }
        }
        .full-details {
          padding-top: 1.5rem;
          padding-left: 0;
          padding-right: 0;
          text-align: center;
          .double-lines {
            margin: auto !important;
          }
          .genre-list,
          .director {
            justify-content: center;
          }
        }
      }

      .reviews {
        .reviews-body {
          padding: 0 1rem !important;
        }
      }
    }
    .cast-section {
      .scrollmenu {
        margin: 2rem 0;
        margin-right: 0;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow: -moz-scrollbars-none;
      }
      .fa-angle-left,
      .fa-angle-right {
        visibility: hidden;
      }
    }
  }

  
  .movies-body{
    .movies-nav{
      font-size: 0.8rem;
    }
  }
  .home{
    .container{
      padding: 0;
    }
  }
}

@media (max-width: 650px){
  .movies-content{
    .movie-card{
      width: 50%;
    }
  }
  
  // Profile Page
  .profile{
    .profile-body{
      .user-info{

        position: static;
        margin-top: -8.5rem;
        .container{
          padding: 0;

          .stats{
            .fullname{
              padding-bottom: 0;
              text-align: left;
              div{
                padding: 1rem 1rem;
                background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9) 75%);
                position: relative;
              }
            }

            &>.d-flex{
              justify-content: left;
              padding: 0 1rem;

              .count{
                font-size: 1.4rem;
              }
  
              .subheading{
                font-size: 0.8rem;
              }
  
              .following{
                padding: 0 1.7rem;
              }

              .follow{
                margin-left: auto;
                padding-right: 1rem;
              }
            }
          }
        }

        .body{
          &> .d-flex{
            padding: 2rem 0rem !important;
          }
        }
      }
    }
  }
}
