@import "config";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Mukta", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  line-height: 1.7;
}

// utility classes
.text-blue {
  color: $primary-color;
}
.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: $dark-color;
}

.text-center{
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}

.modal{
  display: none;
}


.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn {
  text-decoration: none;
  color: #fff;
  background-color: $primary-color;
  padding: 0.3rem 1.5rem;
  display: inline-block;
  border: 1px solid $primary-color;

  @include easeOut;

  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}

.double-lines {
  border-top: 1px dotted $primary-color;
  border-bottom: 1px dotted $primary-color;
  height: 4px;
  width: 100px;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

p {
  font-weight: 300;
  color: $dark-color;
}

.container {
  padding-right: 7rem;
  padding-left: 7rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1350px;
}

.d-flex {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
}

header {
  background-color: #fff;
  .topbar {
    padding: 1.5rem 0 1.2rem 0;

    .topbar-flex-container {
      display: flex;
      display: -webkit-flex;

      justify-content: around;
      align-items: center;
      div {
        flex: 1;
      }

      .left {
        text-align: left;

        .search {
          position: relative;
          width: 220px;
          height: 2.6rem;
          overflow: hidden;
          border: 1.5px solid;
          border-color: #e8edf1;
          border-radius: 22px;

          input {
            color: $dark-color;
            font-size: 1rem;
            width: 100%;
            height: 100%;
            padding-right: 45px;
            padding-left: 25px;
            border: none;
            overflow: visible;
            outline: 0;
          }

          .search-symbol {
            width: 45px;
            height: 100%;
            color: #222;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            display: -webkit-flex;

            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            background: 0 0;
            outline: 0;

            @include easeOut-fast;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
      .middle {
        text-align: center;
        img {
          height: 80px;
        }
      }
      .right {
        text-align: right;

        a {
          text-decoration: none;
          color: $dark-color;
          font-weight: bold;
          margin: 0 0.5rem;

          @include easeOut-fast;

          &:hover {
            color: #000;
            border-bottom: 1.5px solid $primary-color;
            border-width: 50%;
          }
        }
      }
    }
  }

  .sticky {
    position: fixed;
    top: 0;
    padding-top: 74px;
    width: 100%;
    z-index: 100;
  }

  .menu {
    background-color: $primary-color;
    color: #fff;
    padding: 1.6rem 0;

    .menu-nav {
      list-style-type: none;
      padding: 0;
      margin: 0;
      text-align: center;

      .nav-link {
        display: inline;
        padding: 1.2rem;
        padding-bottom: 0;

        .fa-pen{
          border: 1px solid #fff;
          padding: 0.4rem;
          border-radius: 50%;
        }
        a {
          text-decoration: none;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          color: #fff;
          font-weight: 300;
          font-size: 0.98rem;
          padding-bottom: 5px;
          @include easeOut-fast;

          &.active {
            border-bottom: 1.3px solid $dark-color;
          }

          &:hover {
            color: $dark-color;

            .fa-pen{
              border: 1px solid $dark-color;
            }
          }
        }
      }
    }
  }
}

.fix-padding {
  padding-top: 74px;
}

.dark-overlay {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.58);
}

.movie-bg {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .dark-overlay {
    padding: 1rem 2rem;
    text-align: center;

    .d-flex {
      .movie-details {
        width: 50%;
        text-align: center;

        h2 {
          text-transform: uppercase;
          padding: 2.3rem 0 0.6rem 0;
        }
        p {
          font-size: 1rem;
          color: #f8f9fa;
          letter-spacing: 0.05rem;
        }

        h3 {
          padding-bottom: 2rem;
          display: flex;
          display: -webkit-flex;

          justify-content: center;
          align-items: center;

          .grade {
            color: $primary-color;
            font-size: 2rem;
            width: 3.5rem;
            height: 3.5rem;
            display: flex;
            display: -webkit-flex;

            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 50%;
            margin-left: 0.6rem;
          }
        }

        .grade-with-movie {
          text-transform: none;
          font-size: 1.2rem;
          color: #f8f9fa;
          display: none;
        }
      }
      .grade-movie {
        // align-self: center;
        padding-top: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2rem;

        h3 {
          text-align: left;
        }

        .grade-box {
          width: 300px;
          height: 40px;
          background-color: rgba(0, 0, 0, 0.5);
          text-align: left;
          cursor: pointer;
          display: flex;
          display: -webkit-flex;

          margin-bottom: 3px;
          color: $dark-color;
          font-weight: bold;

          &.s {
            .width-animation,
            .grade-letter {
              background-color: #fe5196;
            }
          }
          &.a {
            .width-animation,
            .grade-letter {
              background-color: #e6b980;
            }
          }
          &.b {
            .width-animation,
            .grade-letter {
              background-color: #84fab0;
            }
          }
          &.c {
            .width-animation,
            .grade-letter {
              background-color: #38f9d7;
            }
          }
          &.d {
            .width-animation,
            .grade-letter {
              background-color: #00f2fe;
            }
          }
          &.e {
            .width-animation,
            .grade-letter {
              background-color: #4facfe;
            }
          }
          &.f {
            .width-animation,
            .grade-letter {
              background-color: #d57eeb;
            }
          }

          .width-animation {
            width: 0;
            height: 40px;
            @include easeOut;

            &.active {
              width: 265px;
            }
          }

          &:hover {
            .width-animation {
              width: 265px;
            }
          }

          .grade-letter {
            width: 40px;
            height: 40px;
            display: flex;
            display: -webkit-flex;

            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

.movie-info {
  padding-top: 5rem;

  .details {
    width: 65%;
    .movie-image {
      height: 450px;
      img {
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
    }

    .full-details {
      padding: 0 2rem;
      padding-right: 0.2rem;

      h4 {
        font-weight: 500;
        font-size: 1.4rem;
        margin: 0;
      }

      .genre-list,
      .crew-list {
        margin: 0.8rem 0;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;

        .crew-item {
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
        }

        .genre-item,
        .item {
          border: 1px solid $dark-color;
          color: $dark-color;
          font-weight: 300;
          padding: 0.1rem 0.7rem;
          margin: 0.1rem;
          border-radius: 7px;
          box-shadow: 1px 1px;
        }
        .crew-heading {
          padding-top: 0.1rem;
          margin: 0.1rem;
          margin-right: 10px;
          // color: $primary-color;
          font-weight: bold;
        }
      }

      .director {
        margin-bottom: 1.5rem;
      }
      .fa-hourglass-start,
      .fa-clock {
        padding: 0.8rem;
        margin-right: 1rem;
        border: 1px solid $primary-color;
        min-width: 50px;
        text-align: center;
        font-size: 1.4rem;
      }

      h5 {
        font-size: 1.1rem;
        font-weight: 500;
      }

      .date-released,
      .runtime {
        margin: 1rem 0;
      }

      form{
        display: inline;
      }

      a, button {
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.7rem;
        font-weight: 400;
      }
    }
  }

  .cast-section {
    padding: 3rem 0;
    .cast {
      font-size: 1.8rem;
      margin: 0;
      padding-bottom: 0.6rem;
    }

    .align-arrow-keys {
      align-items: center;
    }

    .fa-angle-left,
    .fa-angle-right {
      cursor: pointer;
      position: absolute;
      background-color: $dark-color;
      color: #fff;
      font-size: 1.3rem;
      width: 40px;
      height: 40px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
      visibility: visible;
    }

    .scrollmenu {
      margin: 2rem 0;
      margin-right: 1.3rem;
      overflow: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow: -moz-scrollbars-none;
    }

    .scrollmenu {
      overflow: -moz-scrollbars-none;
    }

    .scrollmenu::-webkit-scrollbar {
      height: 0;
      width: 0;
    }

    .actor-card {
      min-width: 12.5rem;
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      border-radius: 18px;
      margin: 0.2rem 0.5rem;

      .actor-overlay {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        height: 268px;
        border-radius: 18px;
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.7);

        h3 {
          font-size: 0.98rem;
          font-weight: bold;
          padding-top: 0.6rem;
          padding-bottom: 1.9rem;
          max-height: 4rem;
          margin: 0;
        }

        .actor-image {
          img {
            width: 135px;
            height: 135px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .actor-role {
          font-size: 0.9rem;
          font-weight: 300;
          padding-bottom: 1rem;
        }

        .actor-social {
          padding-bottom: 0.4rem;
        }
      }
    }
  }

  .reviews {
    width: 35%;
    border: 1.2px solid #e8edf1;

    .reviews-top {
      background-color: $light-blue;
      text-align: center;
      font-size: 1.1rem;
      padding: 0.6rem;

      span {
        background-color: #fff;
        padding: 0.2rem 1rem;
        font-weight: 300;
        border-radius: 50px;
      }
    }

    .reviews-body {
      padding: 0 2.5rem;

      .add-review {
        display: block;
        width: 100%;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.1rem;
      }

      .submit-review {
        text-align: right;
        padding-top: 1rem;
        margin-bottom: 2rem;

        .btn {
          font-size: 1rem;
          cursor: pointer;
        }
      }

      .review {
        border-top: 1.2px solid #e8edf1;
        padding: 0.6rem 0;

        .review-details {
          font-size: 0.9rem;
          color: #aaa;
          justify-content: space-between;
          margin-bottom: 0.7rem;

          a {
            color: #aaa;
            text-decoration: none;
            @include easeOut-fast;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

// Sign up and Sign in
#sign-in, #sign-up{
  padding: 0 1rem;
  h3{
    text-align: center;
    font-weight: 300;
  }

  .facebook-btn{
    text-align: center;

    a{
      &:focus{
        outline: none;
      }
    }

    img{
      width: 16rem;
      cursor: pointer;
    }
  }
  .log-in{
    margin-top: 1rem;
      border-radius: 6px;
      input{
      display: block;
      width: 100%;
      margin-bottom: 0.6rem;
      padding: 0.8rem;
      border-radius: 6px;
      border: 1px solid $light-blue;
      background-color: #f5f5f5;
    }
  }
  .log-in-btn{
    text-align: center;
    margin-top: 1rem;

    .btn{
      cursor: pointer;
      padding: 0.5rem 1.5rem;
    }
  }

  p{
    text-align: center;
    font-size: 0.95rem;

    a{
      color: $primary-color;
      text-decoration: none;
      font-weight: bold;
    }
  }
}

.alert-container{
  position: relative;
  display: block;
}

.alert{
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 1rem;
  display: block;
}

.alert-success{
  display: inline;
  padding: 1rem 2rem;
  background-color: $dark-color;
  border-radius: 5px;
  color: #38f9d7;
}

.alert-danger{
  display: inline;
  background-color: $dark-color;
  padding: 1rem 2rem;
  border-radius: 5px;
  color: red;
}


@import "home";
@import "profile";
@import "movies";
@import "mobile";

